* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #111;
}

.hero {
    height: 650px;
    background: rgb(8, 125, 245);
    color: white;
}

header {
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 12px 15px;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid white;
}

.signin {
    background: #ee5962;
    border-radius: 20px;
}

.content {
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 55%;
}

.text p {
    font-size: 12px;
    line-height: 1.8;
}

.text h1 {
    font-size: 34px;
    margin: 18px 0;
}

.search {
    width: 420px;
    height: 45px;
    background: white;
    border-radius: 25px;
    margin-top: 30px;
    display: flex;
}

.search input {
    width: 65%;
    border: 0;
    padding: 15px;
    outline: none;
}

.search button {
    width: 35%;
    border: 0;
    background: #ee5962;
    color: white;
}

.game {
    width: 290px;
    height: 350px;
    background: white;
    border-radius: 18px;
    margin-right: 40px;
}

.game img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.game span {
    background: #087df5;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    margin-left: -50px;
}

.game b {
    background: #ee5962;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -25px;
    margin-top: -40px;
}
nav a:hover {
    background: #ee5962;
    transition: 0.5s;
    color: black;
}
.signin:hover {
    background: #90c7ff;
    transition: 0.5s;
    color: black;
}
.search button:hover {
    background: #7780a1;
    transition: 0.5s;
    color: black;
}